<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head"/>
<body>
<div th:replace="fragments/layout.html :: menu"/>


 <div class="container">

    <div class="row my-3">
      <div class="col" >
        <h4>Your Compensation Leave History</h4>
      </div>
    </div>
    
	<div th:if="${#lists.isEmpty(chistory)}">
		<p>You have no courses. Start applying a new one.</p>
	</div>

	<div th:if="${not #lists.isEmpty(chistory)}">
		<table class="table table-hover">
			<tr class="listHeading">
				<th scope="col"><span>Reference Number</span></th>
				<th scope="col"><span>Hours Claimed</span></th>
				<th scope="col"><span>Status</span></th>
				<!--<th scope="col"><span>Update</span></th>-->
				<th scope="col"><span>Withdraw</span></th>
			</tr>

			<tr th:each="cLeave : ${chistory}" class="listRecord">
				<td align="left" th:text="${cLeave.compensationLeaveId}">Id</td>
				<td align="left" th:text="${cLeave.compensationHours}">Id</td>
				<td align="left" th:text="${cLeave.Status}">Id</td>

<!--				<td>
					<div
						th:if="${#strings.equals(cLeave.status, 'SUBMITTED')  or #strings.equals(cLeave.status,'UPDATED')}">
						<a th:href="@{/staff/compensation/edit/}+${cLeave.compensationLeaveId}">Update</a>
					</div>
				</td>-->
				<td>
					<div
						th:if="${#strings.equals(cLeave.status, 'SUBMITTED')  or #strings.equals(cLeave.status,'UPDATED')}">
						<a th:href="@{/staff/compensation/withdraw/}+${cLeave.compensationLeaveId}">Withdraw</a>
					</div>
				</td>
			</tr>
			</tr>

			</tr>
		</table>
	</div>
	<div th:replace="fragments/layout.html :: footer" />
</body>
</html>