<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head"/>
<body>
<div th:replace="fragments/layout.html :: menu"/>

 <div class="container">

    <div class="row my-3">
      <div class="col">
        <div class="d-flex justify-content-begin"><h2>Claim Compensation Leave</h2></div>
      </div>
    </div>

<form action="#" th:action="@{/staff/compensation/create}" th:object="${cLeave}" method="post">
  <div class="container mt-5">
				<div class="row">
					<div class="col"></div>
					<div class="col-4"></div>
					<div class="col"></div>
				</div>
				<div class="row">
					<div class="col"></div>
					<div class="col-8 col-lg-6">
						<div class="mb-3 row">
							<span class="col-sm-4"></span>
							<div class="col-sm-8">

							</div>
						</div>
					</div>
					<div class="col"></div>
				</div>
				
				<div class="row">
					<div class="col"></div>
					<div class="col-8 col-sm-6 col-lg-5">
						<div class="mb-3 row">
							<label for="date" class="col-sm-4 col-form-label">Start of overtime</label>
							<div class="col-sm-8">
								<input type="datetime-local"  th:name="cLeaveStartDate" />
							</div>
						</div>
						
					</div>

					<div class="col"></div>
				</div>
				
				<div class="row">
					<div class="col"></div>
					<div class="col-8 col-sm-6 col-lg-5">
						<div class="mb-3 row">
							<label for="date" class="col-sm-4 col-form-label">End of overtime</label>
							<div class="col-sm-8">
								<input type="datetime-local"  th:name="cLeaveEndDate" />
							</div>
						</div>
					</div>

					<div class="col"></div>
				</div>
				
				
				<div class="row">
					<div class="col"></div>
					<div class="col-8 col-sm-6 col-lg-5">
						<div class="mb-3 row">
							<label for="Justification" class="col-sm-4 col-form-label">Justification</label>
							<div class="col-sm-8">
								<input type="text" th:name="Justification" />
							</div>
						</div>
					</div>
					<div class="col"></div>
				</div>
				



				
				<div class="row">
					<div class="col"></div>
					<div class="col-8 col-sm-6 col-lg-5">
						<div class="mb-3 row">
							<div class="col-sm-4"></div>
							<div class="col-sm-8">
								<input type="reset" value="Reset" class="btn btn-primary" />
								&nbsp;&nbsp;&nbsp;&nbsp;
								<input type="submit" value="Create" class="btn btn-primary" />
							</div>
						</div>
					</div>
					<div class="col"></div>
				</div>
			</div>
			
			
		</form>
	</div>
 <div th:replace="fragments/layout.html :: footer" />
</body>
</html>