<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head" />

<body>

	<div th:replace="fragments/layout.html :: menu" />

	<div class="container">

		<div class="row my-3">
			<div class="col">
				<h2>Edit Holiday Page</h2>
			</div>
			<div class="col">
				<div class="d-flex justify-content-end"><a th:href="@{/admin/holiday/list/}"
						class="btn btn-primary">Back
						to Holiday List</a></div>
			</div>
		</div>
		<form th:object="${editholiday}" th:action="@{/admin/holiday/edit/}+${editholiday.holidayId}" method="post">
			<div class="container mt-5">
				<div class="row">
					<div class="col"></div>
					<div class="col-4">

					</div>
					<div class="col"></div>
				</div>
				<div class="row">
					<div class="col"></div>
					<div class="col-8 col-lg-6">
						<div class="mb-3 row">
							<span class="col-sm-4"></span>
							<div class="col-sm-8">

							</div>
						</div>
					</div>
					<div class="col"></div>
				</div>

				<div class="row">
					<div class="col"></div>
					<div class="col-8 col-sm-6 col-lg-5">
						<div class="mb-3 row">
							<label for="iptName" class="col-sm-4 col-form-label">Holiday Id</label>
							<div class="col-sm-8">
								<input type="text" th:field="*{holidayId}" id="iptName" class="form-control" readonly/>
								<span th:if="${#fields.hasErrors('holidayId')}" th:errors="*{holidayId}"
									class="text-danger"></span>
							</div>
						</div>
					</div>

					<div class="col"></div>
				</div>

				<div class="row">
					<div class="col"></div>
					<div class="col-8 col-sm-6 col-lg-5">
						<div class="mb-3 row">
							<label for="iptName" class="col-sm-4 col-form-label">Holiday Name</label>
							<div class="col-sm-8">
								<input type="text" th:field="*{name}" id="iptName" class="form-control" />
								<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
									class="text-danger"></span>
							</div>
						</div>
					</div>

					<div class="col"></div>
				</div>
				<div class="row">
					<div class="col"></div>
					<div class="col-8 col-sm-6 col-lg-5">
						<div class="mb-3 row">
							<label for="iptDate" class="col-sm-4 col-form-label">Holiday Date</label>
							<div class="col-sm-8">
								<input type="date" th:field="*{holidayDate}" th:value="*{holidayDate}" id="iptDate"
									class="form-control" />
								<span th:if="${#fields.hasErrors('holidayDate')}" th:errors="*{holidayDate}"
									class="text-danger"></span>
							</div>
						</div>
					</div>

					<div class="col"></div>
				</div>


				<div class="row">
					<div class="col"></div>
					<div class="col-8 col-sm-6 col-lg-5">
						<div class="mb-3 row">
							<div class="col-sm-4"></div>
							<div class="col-sm-8">

								<input type="submit" value="Update" class="btn btn-primary" />
							</div>
						</div>
					</div>
					<div class="col"></div>
				</div>
			</div>
		</form>
	</div>

	<div th:replace="fragments/layout.html :: footer" />
</body>

</html>